
body{margin:0px;}

#box{
	  margin: 0px auto;	
}
/**
 * 上部
 */
#top{
	background-color: midnightblue;
	height: 50px;
}
/**
 * 中间
 */
#center{
	height: 700px;
}
#center #centerbox{
	background-color: whitesmoke;
	width: 400px;
	height: 580px;
	margin: 10px auto 10px auto;
	text-align:  center;
}
.myp{
	margin-top: 15px;
	margin-bottom: 50px;
	font-size: 25px;
}

input{
	border-width: 1px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	width: 300px;
	border-radius: 5px;
}
.myinput{
	width: 150px;
}
#remeberpassword{
	margin:0px 4px;
	width: 13px;
	height: 13px;
}

.mybtn{
		font-weight: bold;
		color:   white;
		background:  royalblue;
		border-radius: 4px;
		height: 35px;
		width: 320px;
	}
.mybtn:hover{
	background: dodgerblue;
}
a{
	text-decoration: none;
	color: limegreen;
}
a:hover{
	color: green;
}
a.weibo{
	color: #D3D3D3;
}
a.qq{
	color: #D3D3D3;
}
a.wenxin{
	color: #D3D3D3;
}
a.weibo:hover{
	color: red;
}
a.qq:hover{
	color: dodgerblue;
}
a.wenxin:hover{
	color: limegreen;
}
#login{
	
}
#register{
	
	
}

/**
 * 底部上
 */
#bottomtop{
	background-color: lightblue;
	height: 200px;
}
/**
 * 底部下
 */
#bottom{
	background-color:  darkorange;
	height: 100px;
}